<% layout('./layouts/boilerplate') %>
<h1>All Campgrounds</h1>
<ul>
  <% campgrounds.forEach(campground => { %>
  <li>
    <a href="/campgrounds/<%= campground._id %>"
      ><%= campground.title %> - $<%= campground.price %></a
    >
  </li>
  <% }) %>
</ul>
<a href="/campgrounds/new">Add New Campground</a>
